

.container {
    display: flex;
    border: 3px solid black;
    width: fit-content;
}

.pixel {
    width: 5px;
    height: 5px;
    background-color: white;

}

div.hovered {
    background-color: black;
}